.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #2196F3;color: black;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;color: black;} /* Blue */
.info:hover {background:#46a049;}

.warning {background-color: #2196F3;color: black;} /* Orange */
.warning:hover {background: #46a049;}

.danger {background-color: #2196F3;color: black;} /* Red */
.danger:hover {background:#46a049;}

.default {background-color: #2196F3; color: black;} /* Gray */
.default:hover {background: #46a049;}
